.main-search, .main-up-down { background: url("/sprite/main.png?update=2016-06-14_15:25:15") no-repeat; display: -moz-inline-stack; display: inline-block; *zoom: 1; *display: inline; }

.main-search { background-position: -0px -0px; width: 16px; height: 16px }
.main-up-down { background-position: -0px -16px; width: 16px; height: 16px }
