.task-priority-blocker, .task-priority-critical, .task-priority-down, .task-priority-emerg, .task-priority-later, .task-priority-low, .task-priority-norm, .task-priority-up, .task-status-abort, .task-status-close, .task-status-open, .task-status-ready, .task-status-reopen, .task-status-tested, .task-type-bug, .task-type-task { background: url("/sprite/task.png?update=2016-06-14_14:03:42") no-repeat; display: -moz-inline-stack; display: inline-block; *zoom: 1; *display: inline; }

.task-priority-blocker { background-position: -0px -0px; width: 16px; height: 16px }
.task-priority-critical { background-position: -16px -0px; width: 16px; height: 16px }
.task-priority-down { background-position: -32px -0px; width: 16px; height: 16px }
.task-priority-emerg { background-position: -0px -16px; width: 16px; height: 16px }
.task-priority-later { background-position: -16px -16px; width: 16px; height: 16px }
.task-priority-low { background-position: -32px -16px; width: 16px; height: 16px }
.task-priority-norm { background-position: -0px -32px; width: 16px; height: 16px }
.task-priority-up { background-position: -16px -32px; width: 16px; height: 16px }
.task-status-abort { background-position: -32px -32px; width: 16px; height: 16px }
.task-status-close { background-position: -0px -48px; width: 16px; height: 16px }
.task-status-open { background-position: -16px -48px; width: 16px; height: 16px }
.task-status-ready { background-position: -32px -48px; width: 16px; height: 16px }
.task-status-reopen { background-position: -0px -64px; width: 16px; height: 16px }
.task-status-tested { background-position: -16px -64px; width: 16px; height: 16px }
.task-type-bug { background-position: -32px -64px; width: 16px; height: 16px }
.task-type-task { background-position: -0px -80px; width: 16px; height: 16px }
