/* 
 * company: Emerald Labs
 * license: MIT
 * author: darthyar
 *
 * расширения css
 */

html, body {
	height: 100%;
}
 
#content {
	height: 100%;
}
 
/* Helvetica - лучший шрифт для глаз */
body {
	font-family: Helvetica, sans-serif;
}
 
/* grid реализуется на таблицах */

table {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 0;
	empty-cells: show;
}
td, th {
	border-right: solid 1em rgba(255,255,255,0.5);
	padding: 0;
	vertical-align: top;
	text-align: left;
}
td:last-child, th:last-child {
	border-right-width: 0;
}

[valign=top] {vertical-align: top}
[valign=middle] {vertical-align: middle}
[valign=bottom] {vertical-align: bottom}
[align=left] {text-align: left}
[align=center] {text-align: center}
[align=right] {text-align: right}
[align=justify] {text-align: justify}

