<% call
BEGIN
	use R::Form::Form
	use R::Form::Input
END
%>
<% CLASS RubinForm INHERITS R::Form::Form 
	
	sub CLASS_INIT
	
		# создаём роутер для формы
		uri = self.uri
		if uri then app.view.route uri, self, closure self do cls

			form = cls.new
			form:save = 2			rem брать параметры из q.param
			answer = form.save
			
			if q.head("X-Ajax")
				if q.isRedirect
					while q.isRedirect
						q.echo_clear
						location = q.outhead("Location")
						q:outhead = {}
						q.type("text/html")
						q.status(200)
						q.server:dispatch{location}->()
					end
				else
					q.echo app.json.to {
						(form:info? (info => form:info): ()),
						(form.isErrors? (isErrors => 1): ()),
						(form:error? (error => form:error): ()),
						(form:errors? (errors => form:errors): ()),
						answer => answer,
					}
				end
			else	rem вызов по <a href="..." ...>
				if form.isErrors
					q.form_error form
				else
					if !q.outhead("Location") then q.redirect q.head("Referer")
					rem msg1 "refer:", refer, q.outhead("Location"), q.head("Referer")
				end
			end
			%$DATA = ()
		end
	end
	
	sub runInStart
		if self:runInStart then return
		self:runInStart = 1
		self.runInit
		
		if !self.isErrors
			if !self.meta:MOD then self.runView
		end
	end
%>


<% sub start class_name %>
	<% call
		if class_name then self:class = class_name
		self.runInStart
		meta = self.meta
	%>
	$meta.pre
	<% if self.hasAllow %>
		$meta.prein
		<% self.form_tag %>
		$meta.beforein
	<% else %>
		$meta.presh
		<% self.show_tag %>
		$meta.beforesh
	<% end %>
	$meta.before

	<% if @self:info %><ol class="info">
	<% for e in self:info %><li><% e %><% end %>
	</ol><% end %>

	<% 
		err = [@self:errors]
		for name of self.meta:hiddens
			e = self:error{name}
			if defined e then self.at(name):place_error = 1; push @err, "$name: " . e
		end
	%>
	<% if @err %><ol class="error">
	<% for e in err %><li><% e %><% end %>
	</ol><% end %>

	<% if self.hasAllow %>
		<% self.actionHidden %>
		<% for name = keys %self.meta:hiddens %><% self.at(name).input %><% end %>
	<% end %>
<% end %>

<% sub end %>
<% call
err = []
for name, message of self:error
	if !self:inputs{name}:place_error then push @err, "$name: $message"
end
%>
<% if @err %><ol class="error">
<% for e in err %><li><% e %><% end %>
</ol><% end %>

<% meta = self.meta %>$meta.after<% if self.hasAllow %>$meta.afterin</form>$meta.postin<% else %>$meta.aftersh</div>$meta.postsh<% end %>$meta.post
<% call self.runInEnd %>
<% end %>

<% sub actionHidden %>
<input type="hidden" name="@action" value="$self.uri">
<% end %>

<% sub form_tag %>
<% meta = self.meta; class_name = self:class // meta:class  %>
<form name="$self:Name"<% if class_name %> class="$class_name"<% end %><% if meta:action %> action="meta:action"<% end %> method=$meta:method<% if meta:enctype %> enctype="$meta:enctype"<% end %> novalidate>
<% end %>

<% sub show_tag %>
<% class_name = self:class // self.meta:class %>
<div name="$self:Name"<% if class_name %> class="$class_name"><% end %>>
<% end %>

<% sub href %><*** возваращает ссылку на форму ***>
<% if self.hasAllow %><a id="$self.meta:name$self:number" href="$self.uri" class="$self.href_class">$self.href_label</a><% end %>
<% end %>


<% END %>





<% CLASS RubinForms INHERITS RubinForm %>

<% sub render %>
	<% hiddens = self.meta.hiddens %>
	<% for metainput in self.meta.inputset %>
		<% if !hiddens{metainput:name} %>
			<% self.start %>
			<% self.at(metainput:name) %>
			<% self.end %>
		<% end %>
	<% end %>
<% end %>

<% END %>



<% CLASS EmeraldForm INHERITS RubinForm
%>

<% js %><script>
function EmeraldForm(name) {
	$("#"+name+"-submit").hide()
	this.form = $( document.forms[name] )
	form.find("input,textarea,select").on("change", $.proxy(function() {
		this.form[0].submit()
	}, this)).on("keyup", $.proxy(function(e) {
		if( e.which == 13 ) this.form[0].submit()
	}, this))
}
</script><% end %>


<% sub render %>
<% super.render %>
<% if self.hasAllow %>
<script><!--
new EmeraldForm("$self:Name")
--></script>
<% end %>
<% end %>

<% END %>




<% CLASS EditForm INHERITS RubinForm

	sub label then return app.sign.faPencil
%>

<% js %><script>
function EditForm(name, label) {
	
	this.div = $("#Edit-"+name)
	this.label = $("#Label-"+name)
	
	if(this.label.length == 0) {
		this.div.prepend( this.label = $("<span></span>").html(label).hide() );
	}
	var child = this.div.children("div")
	this.show = $(child[0]).show()
	this.form = $(child[1]).hide()
	this.label.show().click($.proxy(function(e) {
		this.show.toggle()
		this.form.toggle()
	}, this))
}
</script><% end %>

<% sub render %>
	<% if self.hasAllow %>
		<div id="Edit-$self:Name" class="form-edit">
			<div style="display:none"><% GET form = self.new(%self:param_init); form:allow=0; form.render %></div>
			<div>$super.render</div>
			<script><!--
				new EditForm("$self:Name", "$self.label")
			--></script>
		</div>
		
	<% else %>$super.render
	<% end %>
<% end %>

<% END %>





<% CLASS ChForm INHERITS RubinForm
	
	# TODO: заменить на sub view then self.pre(new CheckTag("добавить", self.isErrors))
	# на самом деле лучше так: sub fields then self.tag("check")
	# а в CheckTag: sub render form then form.isErrors ...
	
	sub label then return app.sign.faMagic . " добавить"
	sub labelen
		@x = self.label
		label = shift @x
		if !@x then @x = (class => "ch-up ch-label")
		new CheckTag(label, self.isErrors, x)
	end
	
%>
<% sub form_tag %><% self.labelen %><% super.form_tag %><% end %>
<% sub show_tag %><% self.labelen %><% super.show_tag %><% end %>

<% END %>







<% LET

class AnyModelForm inherits RubinForm
	sub fields
		self.add("model" => "hidden").allow
	end
	sub allow*
	
		if !(self:Fieldset = app.meta.exists(model)) then self.addError(model => "нет модели"); return
		
		self:Param = param = if self.meta:method eq "POST" then q.post(""); q:post else q.get(""); q:get
		
		row = self:Model = app.model.$model(param:id)
		
		if !row.can("owner") then self.addError("модель не имеет авторизации"); return
		if row.owner:id != user:id then self.addErrors("не пройдена аутентификация"); return

		1
	end
	sub validate*

		if fieldset = self:Fieldset
			field = fieldset:field
			for key, val of self:Param
				if fld = field{key}		# тут проходит чек филда
				
					if check = fld:check
						error = check.stash(model => self:Model).test
						check.stash(model => undef)
						if error then self.addError(key, error) else val = check.val
					end
				
					self:Update{key} = val
				end
			end
		end
	
	end
	sub success*,*
		self:Model.update(self:Update).save
	end
	sub view*,*
		todo()
	end
end

%>