<% CLASS LabelTag 
rem  тег label, применяющийся в полях ввода

sub new label, attrs
	self:label = label
	self:attrs = attrs
	self
end

sub attrs then app.html.new app.html.attr @me:attrs

%>

<% sub render input %>
<label for="$input.id">$self:label:</label>
<% end %>

<% END %>


<% CLASS NideLabelTag INHERITS LabelTag %>

<% sub render input %>
<label for="$input.id"<% me.attrs %>>$self:label</label>
<% end %>

<% END %>






<% CLASS CheckTag
rem  раскрывающийся блок

sub new label, checked, attrs
	self:label = label
	self:attrs = attrs // {class => "ch-up ch-label"}
	self:checked = checked
	self:id = "ch" . ++app:q:HTML_CH
	self
end

sub attrs then app.html.new app.html.attr @me:attrs

%>

<% sub render %>
<input id="$self:id" class="ch" type=checkbox<% if self:checked %> checked<% end %>>
<label for="$self:id"<% self.attrs %>>$self:label</label>
<% end %>

<% END %>



<% CLASS RubinTag 
rem  прародитель тегов

sub new attrs
	self:attrs = attrs
	self
end

sub attrs then app.html.new app.html.attr @me:attrs

%>

<% sub render %>
<label for="input.id"<% self.attrs %>>$self:label:</label>
<% end %>

<% END %>



<% CLASS UserTag
	sub new am, classes
		self:am = am
		self:classes = classes
		self
	end
%>

<% sub render %>
	<% am = self:am %>
	<a href="/am$am:id" class="c $self:classes">
		<img src="<% am.ava.mini %>">
		<% if am.online %><em class=xxxs>онлайн</em><% end %>
	</a>
<% end %>

<% END %>



<% CLASS EnumTag
	# для enum-параметров в базе
	# они должны содержать class и label
	
	sub class then me:class
	sub label then me:label
	
	sub new then %me = paramarray; me
	
	sub toCol then msg1 me; me:id
	
	rem метод класса: получает список хэш хешей и проставляет его элементам bless EnumTag
	sub factory
		for hash = paramarray
			cls = ref me
			for k, v of hash
				bless v, cls
				v:id = k
			end
		end
		hash
	end
%>

<% sub preview classes %><span class="ib $me:class $classes"></span><% end %>

<% sub render %><span class="ib $me:class"></span> $me:label<% end %>

<% END %>
