/* 
 * company: Emerald Labs
 * license: MIT
 * author: darthyar
 *
 * расширения css
 */

html, body {
	height: 100%;
}
 
.content {
	height: 100%;
}
 
/* Helvetica - лучший шрифт для глаз */
body {
	font-family: Helvetica, sans-serif;
}

/* формы */
textarea, select, input[type=''], input[type=text], input[type=password] { width: 100% }
label { font-weight: 600 }

/* grid реализуется на таблицах */

table {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 0;
	empty-cells: show;
}
td, th {
	border-right: solid 1em rgba(255,255,255,0.5);
	padding: 0;
	vertical-align: top;
	text-align: left;
}
td:last-child, th:last-child {
	border-right-width: 0;
}

thead, tfoot { height:0px }
tbody { height: 100% }

[valign=top] {vertical-align: top}
[valign=middle] {vertical-align: middle}
[valign=bottom] {vertical-align: bottom}
[align=left] {text-align: left}
[align=center] {text-align: center}
[align=right] {text-align: right}
[align=justify] {text-align: justify}


/* табличка на фиксах */
.fix, .fix > tbody {
	height: auto;
}

/* добавляет границы таблице */
.separators > tbody > td {
	border: solid 1px #ccc;
	
}

/* нулевая высота и длина */
.zero {
	width: 0;
	height: 0;
}

/* markdown */
code { word-wrap: break-word; white-space: pre-wrap; display: inline-block }