/* main */
@font-face {
  font-family: 'FontAwesome';
  src: url('/sign/font-awesome/fontawesome-webfont.eot?v=4.6.3');
  src: url('/sign/font-awesome/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('/sign/font-awesome/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('/sign/font-awesome/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('/sign/font-awesome/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('/sign/font-awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.menu-input-click {
}
.menu-input > input[type='radio'] {
position: absolute;
left: -99999px;
}
.menu-input > input:checked + label {
}
.nicEdit-panel * {
clear: none;
line-height: 16px;
}
.main-search, .main-up-down { background: url("/sprite/main.png?update=2016-06-14_15:25:15") no-repeat; display: -moz-inline-stack; display: inline-block; *zoom: 1; *display: inline; }

.main-search { background-position: -0px -0px; width: 16px; height: 16px }
.main-up-down { background-position: -0px -16px; width: 16px; height: 16px }

.task-priority-blocker, .task-priority-critical, .task-priority-down, .task-priority-emerg, .task-priority-later, .task-priority-low, .task-priority-norm, .task-priority-up, .task-status-abort, .task-status-close, .task-status-open, .task-status-ready, .task-status-reopen, .task-status-tested, .task-type-bug, .task-type-task { background: url("/sprite/task.png?update=2016-06-14_14:03:42") no-repeat; display: -moz-inline-stack; display: inline-block; *zoom: 1; *display: inline; }

.task-priority-blocker { background-position: -0px -0px; width: 16px; height: 16px }
.task-priority-critical { background-position: -16px -0px; width: 16px; height: 16px }
.task-priority-down { background-position: -32px -0px; width: 16px; height: 16px }
.task-priority-emerg { background-position: -0px -16px; width: 16px; height: 16px }
.task-priority-later { background-position: -16px -16px; width: 16px; height: 16px }
.task-priority-low { background-position: -32px -16px; width: 16px; height: 16px }
.task-priority-norm { background-position: -0px -32px; width: 16px; height: 16px }
.task-priority-up { background-position: -16px -32px; width: 16px; height: 16px }
.task-status-abort { background-position: -32px -32px; width: 16px; height: 16px }
.task-status-close { background-position: -0px -48px; width: 16px; height: 16px }
.task-status-open { background-position: -16px -48px; width: 16px; height: 16px }
.task-status-ready { background-position: -32px -48px; width: 16px; height: 16px }
.task-status-reopen { background-position: -0px -64px; width: 16px; height: 16px }
.task-status-tested { background-position: -16px -64px; width: 16px; height: 16px }
.task-type-bug { background-position: -32px -64px; width: 16px; height: 16px }
.task-type-task { background-position: -0px -80px; width: 16px; height: 16px }
