<% call
BEGIN
	use R::Form::Form
	use R::Form::Input
END
%>
<% CLASS RubinForm INHERITS R::Form::Form 

REM @@category javascript-методы
	
	rem конструктор 
	def new setup
		super
		for k, v of setup then this{k} = v
	
		app.form{me:Name} = me		rem регистрируем форму в app

		me:inputset = inputset = []	rem множество полей ввода
		me:inputs = inputs = {}
		
		for data in setup:inputset
			if !(cls = $window{data:cls}) then throw "нет класса $data:cls"
			input = new cls(data)
			input:form = me
			inputset.push inputs{input:name} = input
		end
		me:info = info			rem тег формы в jQuery
		me:error = error		rem хеш ошибок к полям формы
		me:errors = errors		rem дополнительные ошибки формы
	end
	
	rem монтирует тег формы, как только тот появляется
	def mountDiv then me:div = jQuery("#" . me:Name); me.start; me
	
	rem монтирует всю форму, как только она полностью будет выложена
	def mountEnd
		for input in me:inputset then input.mountEnd
		me.end
		me
	end
	
	rem вызывается при монтировании инпута
	def mountElement input then
	
	rem обработчик события: на страницу выведен начальный тег формы
	def start then
	rem обработчик события: на страницу выведен конечный тег формы
	def end then
	
	rem возвращает объект-инпут формы
	def at name then me:inputs{name}
	
	def hasAllow then me:allow
	
	
REM @@category perl-методы
	
	sub CLASS_INIT
		# создаём роутер для формы
		
		if router = self.action then app.router.add router, self
	end
	
	rem диспетчер формы
	rem @classmethod
	sub dispatch
		form = self.new
		form:save = 2			rem брать параметры из q.param
		answer = form.save
		
		if q.header("X-Ajax")
			{
				(form:info? (info => form:info): ()),
				(form.isErrors? (isErrors => 1): ()),
				(form:error? (error => form:error): ()),
				(form:errors? (errors => form:errors): ()),
				answer => answer,
			}
		else	rem вызов по <a href="..." ...>
			if form.isErrors
				app.view.render "error/form.html", { form => form }
			else
				rem msg1 "refer:", refer, q.outhead("Location"), q.head("Referer")
				q.redirect
			end
		end
	end
	
	sub runInStart
		if self:runInStart then return
		self:runInStart = 1
		self.runInit
		
		if !self.isErrors
			if !self.meta:MOD then self.runView
		end
	end
%>


<% sub start class_name %>
	<% call
		if class_name then self:class = class_name
		self.runInStart
		meta = self.meta
	%>
	$meta.pre
	<% if self.hasAllow %>
		$meta.prein
		<% self.form_tag %><% self.form_start_script %>
		$meta.beforein
	<% else %>
		$meta.presh
		<% self.show_tag %><% self.form_start_script %>
		$meta.beforesh
	<% end %>
	$meta.before
	<% if self.annonce %><h3>$self.annonce</h3><% end %>

	<% if @self:info %><ol class="info">
	<% for e in self:info %><li><% e %><% end %>
	</ol><% end %>

	<% 
		err = [@self:errors]
		for name of self.meta:hiddens
			e = self:error{name}
			if defined e then self.at(name):place_error = 1; push @err, "$name: " . e
		end
	%>
	<% if @err %><ol class="error">
	<% for e in err %><li><% e %><% end %>
	</ol><% end %>

	<% if self.hasAllow %><% self.actionHidden %><% end %>
	<% for name = keys %self.meta:hiddens %><% self.at(name).input %><% end %>
<% end %>

<% sub end %>
<% call
err = []
for name, message of self:error
	if !self:inputs{name}:place_error then push @err, "$name: $message"
end
%>
<% if @err %><ol class="error">
<% for e in err %><li><% e %><% end %>
</ol><% end %>

<% meta = self.meta %>$meta.after<% if self.hasAllow %>$meta.afterin</form>$meta.postin<% else %>$meta.aftersh</div>$meta.postsh<% end %>$meta.post
<% call self.runInEnd %>
<% self.form_end_script %>
<% end %>


<% sub form_start_script %>
<script> new <% self.meta:form %>(<% json {
	Name => self:Name
	allow => me.hasAllow? true: false
	inputset => [map {cls=>a:cls, name=>a:name} from @me.meta:inputset]
} %>).mountDiv() </script>
<% end %>

<% sub form_end_script %>
<script> app$.form()[<% json self:Name %>].mountEnd() </script>
<% end %>


<% sub actionHidden %>
<input type="hidden" name="@action" value="$self.uri">
<% end %>

<% sub form_tag %>
<% meta = self.meta; class_name = self:class // meta:class  %>
<form id="$self:Name" name="$self:Name"<% if class_name %> class="$class_name"<% end %><% if meta:action %> action="meta:action"<% end %> method=$meta:method<% if meta:enctype %> enctype="$meta:enctype"<% end %> novalidate>
<% end %>

<% sub show_tag %>
<% class_name = self:class // self.meta:class %>
<div id="$self:Name"<% if class_name %> class="$class_name"><% end %>>
<% end %>

<% sub href %><*** возваращает ссылку на форму ***>
<% if self.hasAllow %><a id="$self.meta:name$self:number" href="$self.uri" class="$self.href_class">$self.href_label</a><% end %>
<% end %>


<% END %>


<% CLASS RubinForms INHERITS RubinForm 
	REM @deprecated
	REM каждый инпут выводится в своей форме и сохраняется отдельно при изменении 
%>

<% sub render %>
	<% hiddens = self.meta.hiddens %>
	<% for metainput in self.meta.inputset %>
		<% if !hiddens{metainput:name} %>
			<% self.start %>
			<% self.at(metainput:name) %>
			<% self.end %>
		<% end %>
	<% end %>
<% end %>

<% END %>



<% CLASS EmeraldForm INHERITS RubinForm
	rem Изумрудная форма не имеет кнопки submit, вместо этого происходит её отправка по Enter или изменению любого поля ввода

	def mountElement input
		input:div.on "change" do then self.submit
		input:div.on "keyup" do e
			if e.which == 13 then self.submit
		end
	end
%>

<% END %>




<% CLASS EditForm INHERITS RubinForm
	rem в режиме редактирования выводит две формы: предпросмотра и редактирования
	rem метка перед ними скрывает одну и открывает другую
	rem форма предпросмотра имеет название как у формы редактирования, но с префиксом Preview-
	
	sub label then app.sign.faPencil
	
	rem скрываем ещё не нарисованную форму редактирования
	def mountDiv
		super.mountDiv
		
		if self:allow
			self:div.hide
			jQuery("#Label-$self:Name").on "click" do
				me.form_preview:div.toggle("fast")
				me.form_edit:div.toggle("fast")
			end
		end
		
		self
	end
	
	def form_preview then if me:allow then app.form{"Preview-" . self:Name} else self
	def form_edit then if me:allow then self else app.form{self:Name.replace "^Preview-"!, ""}
%>

<% sub switch %>
<input type=checkbox class=ch><span id="Label-$self:Name" class=ch-label>$self.label</span><% me:switch = 1 %>
<% end %>

<% sub render %>
	<% if self.hasAllow %>
		<% if !self:switch %><% self.switch %><% end %>
		<% GET
			bless({
				Name => "Preview-" . self:Name
				allow => 0
				param_init => self:param_init
			}, ref self).render
		%>
	<% end %>	
	$super.render
<% end %>

<% END %>





<% CLASS ChForm INHERITS RubinForm
	
	# TODO: заменить на sub view then self.pre(new CheckTag("добавить", self.isErrors))
	# на самом деле лучше так: sub fields then self.tag("check")
	# а в CheckTag: sub render form then form.isErrors ...
	
	sub label then return app.sign.faMagic . " добавить"
	sub labelen
		@x = self.label
		label = shift @x
		if !@x then @x = (class => "ch-up ch-label")
		new CheckTag(label, self.isErrors, x)
	end
	
%>
<% sub form_tag %><% self.labelen %><% super.form_tag %><% end %>
<% sub show_tag %><% self.labelen %><% super.show_tag %><% end %>

<% END %>







<% LET

class NativeModelForm
	sub CLASS_INIT
		# создаём роутер
		app.router.add "/:__model/model/form" => self
	end
	
	rem диспетчер
	sub dispatch
		model = q.attrs:__model
		app.model.$model(undef).as_form.dispatch
	end
	
	rem конструктор возвращает нужную форму
	sub new
		(model) = q.param("@action") =~ "^/([^/]+)/"!
		if !model then throw "нужно использовать форму с @action"
		app.model.$model(undef).as_form
	end
end


%>