<% CLASS LineInput INHERITS R::Form::Input

	def new setup
		if ref setup !== "object" then throw new Error("setup is not object: " . setup)
		super
		for k, v of setup then this{k} = v
	end

	rem монтирует инпут к его div, как только тот появится. Вызывается в all
	def mountDiv
		me:div = jQuery("#$self.id")
		if me:div:length === 0 then me.mount_error
		me.mount						rem монтируем себя
		me:form.mountElement self		rem сообщаем форме, что монтируемся
		me
	end
	
	def mount_error then throw new Error("нет #$self.id")
	
	rem вызывается формой в form.mountEnd
	def mountEnd
		if !me:div then me.mountDiv
		me
	end
	
	rem событие монтирования к объекту для переопределения в субклассах
	def mount then
	
	rem идентификатор инпута
	def id then me:_id || (me:_id = me:form:Name . "-" . me:name)
	
	
%>

<% sub error %>
<% val = self:form:error{self.name}; self:place_error = 1 %>
<% if defined(val) %><div class="error"><% if val %>$val<% else %>&nbsp;<% end %></div><% end %>
<% end %>

<% sub input %>
<input id="$self.id" name="$self.param" value="$self.value"<% self.attrs %>>
<% end %>

<% sub show %>
<span id="$self.id"<% self.attrs %>>$self.value</span>
<% end %>

<% sub render %>
<% if !self.showonly && self:form.hasAllow %>$self.input<% else %>$self.show<% end %>
<% end %>

<% sub all %><% call allow = !self.showonly && self:form.hasAllow %>
$self.pre<% if allow %>$self.prein<% else %>$self.presh<% end %>$self.error
$self.render
<% if allow %>$self.postin<% else %>$self.postsh<% end %>$self.post
$self.enter
<% end %>

<% sub enter %>
<script> app$.form()[<% json me:form:Name %>].at(<% json me:meta:name %>).mountDiv() </script>
<% end %>


<% END %>


<% CLASS FakeInput INHERITS LineInput %>
<% sub input %><% end %>
<% sub show %><% end %>
<% END %>


<% CLASS PasswordInput INHERITS LineInput %>

<% sub input %>
<input type="password" id="$self.id" name="$self.param" value="$self.value"<% self.attrs %>>
<% end %>

<% sub show %>
<span id="self.id">***</span>
<% end %>

<% END %>


<% CLASS ButtonInput INHERITS LineInput 

	sub new class ::Meta
		super
		self.param(undef).novalidate
		self
	end

	rem перекрываем ошибку монтирования
	def mount_error then if me:form:allow then super.mount_error.apply( me, paramarray )
%>

<% sub input %>
<button type="button" id="$self.id"<% self.attrs %>>$self.value</button>
<% end %>

<% sub show %><% end %>
<% sub enter %><% end %>

<% END %>


<% CLASS SubmitInput INHERITS ButtonInput %>

<% sub input %>
<button type="submit" id="$self.id"<% self.attrs %>>$self.value</button>
<% end %>

<% END %>


<% CLASS ResetInput INHERITS ButtonInput %>

<% sub input %>
<button type="reset" id="$self.id"<% self.attrs %>>$self.value</button>
<% end %>

<% END %>


<% CLASS EmailInput INHERITS LineInput 

sub new class ::Meta
	super
	self.pattern("@")
end

%>

<% sub input %>
<input type="email" id="$self.id" name="$self.param" value="$self.value"<% self.attrs %>>
<% end %>

<% sub show %>
<a id="$self.id" href="mailto:$self.value">$self.value</a>
<% end %>

<% END %>


<% CLASS NumInput INHERITS LineInput %>

<% sub input %>
<input type="number" id="$self.id" name="$self.param" value="$self.value"<% self.attr("min") %><% self.attr("max") %><% self.attr("step") %><% self.attrs %>>
<% end %>

<% END %>


<% CLASS RangeInput INHERITS LineInput %>

<% sub input %>
<input type="range" id="$self.id" name="$self.param" value="$self.value"<% self.attr("min") %><% self.attr("max") %><% self.attr("step") %><% self.attrs %>>
<% end %>

<% END %>


<% CLASS HiddenInput INHERITS LineInput 
	sub pre then
	sub post then
	sub prein then
	sub postin then
	sub presh then
	sub postsh then
	
	sub show then me.input
%>

<% sub input %>
<input type="hidden" id="$self.id" name="$self.param" value="$self.value">
<% end %>

<% END %>



<% CLASS TextAreaInput INHERITS LineInput 
	REM @@category Meta
	sub size w, h class ::Meta
		self.attr("cols", w)
		self.attr("rows", h)
		self
	end
	
	sub rows h class ::Meta
		self.attr("rows", h)
		self
	end
	
	sub cols w class ::Meta
		self.attr("cols", w)
		self
	end
	
	
	REM @@category Js
	
	rem монтирование к своему тегу
	def mount
		this:minheight = this:div.height
		this:behavior = $("<div class=textarea-behavior></div>").insertBefore(this:div)
		this:slave = $("<div class=textarea></div>").appendTo(this:behavior)
		
		setSize = do e
			msg "setSize", e
			html = String(me:div.val).replace("<"!g, "&lt;").replace(">"!g, "&gt;").replace("\r?\n|\r"!g, "<br>").replace("  "!g, "&nbsp;")
			if "<br>$"!.test(html) then html .= "&nbsp;"
			me:slave.html( html )
			height = me:slave.height
			if height < me:minheight then height = me:minheight
			me:div.height( height )
		end
		
		if !this:div.is(":visible")
			hiders = this:div.parents.filter do idx, e then e:style:display === "none"
			hiders.show()
			setSize.call this
			hiders.hide()
		else
			setSize.call this
		end
		
		msg this:div
		this:div.on "input keyup", setSize
		
		this:div.on "resize" do
			this:minheight = this:div.height
			this:behavior.width( this:div.width )
		end
		
	end
%>

<***
<script>
var TextAreaInput = function(id) {
	var area = this.area = $("#"+id)
	this.minheight = area.height()
	this.behavior = $("<div class=textarea-behavior></div>").insertBefore(this.area)
	this.slave = $("<div class=textarea></div>").appendTo(this.behavior)
	
	var keyup
	area.on("keyup", keyup = $.proxy(function() {
		var area = this.area
		var slave = this.slave
		var minheight = this.minheight
		var html = area.val().replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/\r?\n|\r/g, "<br>").replace(/  /g, "&nbsp;")
		if(/<br>$/.test(html)) html += "&nbsp;"
		slave.html( html )
		var height = slave.height()
		if(height<minheight) height = minheight
		area.height( height )
	}, this))
	area.on("resize", $.proxy(function() {
		this.minheight = this.area.height()
		this.behavior.width( this.area.width() )
	}, this))
	
	keyup()
}
</script>
***>

<% sub input %>
<textarea id="$self.id" name="$self.param"<% self.attrs %>>$self.value</textarea>
<% end %>

<% sub show %>
<div id="$self.id" class="ib"<% self.attrs %>><% raw v = app.html.escape(self.value); join "<br>", split "\n"!, v %></div>
<% end %>

<% END %>



<% CLASS AreaXInput INHERITS TextAreaInput %>

<% sub show %>
<span id="$self.id"<% self.attrs %>>$self.val</span>
<% end %>

<% END %>


<% CLASS AreaInput INHERITS TextAreaInput 
	rem 
	
	def mount
		child = this:div.parent.children
		this:pen = $(child[0])
		this:show = $(child[1])
		
		if this:div.val !== ""
			this:pen.show
			this:show.show
			this:div.hide
		end
		
		this:pen.on "click" do
			this:pen.hide
			this:show.hide
			this:div.show
		end
		
		super.mount
	end
%>

<***
<script>

var AreaInput = function(id) {

	this.area = $("#"+id)
	var child = this.area.parent().children()
	this.pen = $(child[0])
	this.show = $(child[1])
	
	if(this.area.val() != "") {
		this.pen.show()
		this.show.show()
		this.area.hide()
	}
	
	this.pen.on("click", $.proxy(function() {
		this.pen.hide()
		this.show.hide()
		this.area.show()
	}, this))
}
</script>
***>

<% sub input %>
<div class="area-input">
<div style="display:none" class="right pointer magnifier">&fa-pencil;</div>
<div style="display:none">$self.val</div>
<% super %>
</div>
<***<script><!--
new AreaInput("$self.id")
--></script>***>
<% end %>


<% END %>


<% CLASS ArealineInput INHERITS TextAreaInput %>

<% sub input %>
<div id="$self.id" class="area-input">
<div style="display:none" class="right pointer magnifier">&fa-pencil;</div>
<div style="display:none">$self.val</div>
<input id="$self.id" name="$self.param"<% self.attrs %> value="$self.value">
</div>
<script><!--
new AreaInput("$self.id")
--></script>
<% end %>

<% END %>


<% CLASS SelectInput INHERITS LineInput 

sub new class ::Meta
	super
	self.check("undef")
end

rem опции и отмеченные (checks)
sub options options, checks, error class ::Meta
	if !ref checks then checks = {"$checks"=>1}
	if ref checks eq "ARRAY" then checks = app.perl.setref(@checks)
	if ref options eq "HASH" then options = [ map (a, options{a}) from sort a<=>b from keys %options ]
	i = 0
	keyses = []
	self:options = optionses = []
	for o in options
		if i++ % 2 == 0 then push @keyses, k = o else push @optionses, {value=>k, text=>o, (exists checks{k}? (selected=>1): ()) }
	end
	
	self.one_of(keyses, error)
end

sub emptyoption text, value class ::Meta then me:_emptyoption = {text => text, value => value}; me

%>

<% sub input %>
<% value = self.field && self.field:enum_param? self.field:enum_param{self.value} : self.value %>
<select id="$self.id" name="$self.param"<% self.attrs %>>
<% for opt in self.options %><option value="$opt:value"<% if opt:value == value or opt:selected %> selected<% end %>>$opt:text<% end %>
</select>
<% end %>

<% sub show %>
<% value = self.field && self.field:enum_param? self.field:enum_param{self.value} : self.value %>
<div id="$self.id"<% self.attrs(class => "ib") %>>
<% for opt in self.options %><% if opt:value == value or opt:selected %><div>$opt:text</div><% end %><% end %>
</div>
<% end %>

<% END %>


<% CLASS CheckboxInput INHERITS LineInput 


app.check.register "CheckboxInput.check" do checker, val
	metainput = checker.stash("metainput")
	checker.val q.param(metainput:param)? metainput:value: nothing
	$DATA = ()
end

app.check.register "CheckboxInput.view" do checker, val
	metainput = checker.stash("metainput")
	checker.val metainput:checked? metainput:value: nothing
	$DATA = ()
end


# инициализирует мета-класс
sub init class ::Meta
	self:value = 1
	
	self.check("CheckboxInput.check")
	self.view("CheckboxInput.view")
	
	rem push @self:check do val, metainput, form then $_[0] = q.param(self:param)? metainput:value: nothing; %$DATA=()
	rem push @self:view do val, metainput, form then my($val)=metainput:checked? metainput:value: nothing; %$DATA=(); $val
end

# добавляет атрибут "галочка установлена"
sub checked class ::Meta then self:checked = 1; self

# является ли чекнутым атрибут
sub checked then self:form:param and defined self:form:param{self.name}

%>

<% sub input %><input type=checkbox id="$self.id" name="$self.param" value="1"<% if self.checked %> checked<% end %><% self.attrs %>><% end %>

<% END %>



<% CLASS CheckboxesInput INHERITS SelectInput %>

<% sub input %>
<div id="$self.id"><% param = self.param; value = self.value %>
<% for opt in self.options %><% id="$self.id-$opt:value" %><input id="$id" type=checkbox name="$param" value="$opt:value"<% if opt:selected or opt:value == value %> checked<% end %><% self.attrs %>> <label for="$id">$opt:text</label><% end %>
</div>
<% end %>

<% END %>





<% CLASS MenuInput INHERITS SelectInput

rem видим только выделенный radio-input
rem когда открывается

app.css.the(".menu-input-click")
app.css.the(".menu-input > input[type='radio']").absolute.locate("-99999px")
app.css.the(".menu-input > input:checked + label").size(undef, app.cssConst.lineHeight)

%>

<% sub input %>
<div id="$self.id" class="menu-input"<% self.attrs %>>
	<input id="$self.id-updown" type=radio>
	<label for="$self.id-updown" class="menu-input-click right main-up-down">&nbsp;</label>
	<% param = self.param; value = self.value %>
	<% for opt in self.options %>
		<% id="$self.id-$opt:value" %>
		<input id="$id" type=radio name="$param" value="$opt:value"<% if opt:value == value %> checked<% end %>>
		<label for="$id">$opt:text</label>
	<% end %>
</div>
<% end %>

<% END %>



<% CLASS RefInput INHERITS LineInput %>

<% sub show %>
<% if not (val = self.val).id %><img id="$self.id" src="$val.annonce_img.mini"> ...
<% else %><a id="$self.id" href="<%  self:meta:href // val.annonce_href %>"><img src="$val.annonce_img.mini"> $val.annonce</a>
<% end %>
<% end %>

<% sub input %>
<% sel = self.sex(self.name, "select"); a = self.show; push @a, @sel.input %>$a
<% end %>

<% END %>



<% CLASS FileInput INHERITS LineInput

sub new class ::Meta
	super
	self:metaform:enctype = "multipart/form-data"
	self
end

app.check.register "FileInput.upload" do checker, img

	img:id = nothing
	f = q.POST( checker.stash("metainput"):param_upload )
	
	if R::Isa(f, "R::File")
		img.bin f.read
	elseif app.ini:dev and R::Is(f, "Str")
		rem мы в режиме разработки
		img.bin app.file(f).read
	else
		checker.stash("form").addError("не выбран файл")
	end
	%$DATA=()
end
	
rem чекер картинок
app.check.register "FileInput.uploads" DO checker, img_model

	@f = q.POST( checker.stash("metainput"):param )
	if @f and @f == grep R::Isa a, "R::File" from @f
		fieldset = img_model.Fieldset
		FOR file IN f THEN push @img, fieldset.model(undef).bin( file.read  )
		checker.val img
	elseif app.ini:dev and @f
		fieldset = img_model.Fieldset
		FOR files IN f
			FOR file = split ","!, files THEN push @img, fieldset.model(undef).bin( app.file(file).read )
		END
		checker.val img
	else
		checker.stash("form").addError("не выбран файл")
	end
	%$DATA=()
END

sub upload class ::Meta
	self:param_upload = self:param
	self.param(undef).check("FileInput.upload")
	self
end

sub uploads class ::Meta
	self.check("FileInput.uploads")
	rem self.attrin("multiple")
	self
end

%>

<% sub input %>
<input type="file" id="$self.id" name="$self.param" value="$self.value"<% self.attrs %>>
<% end %>

<% END %>



<% CLASS ImageInput INHERITS FileInput %>

<% sub preview %>
<% if (img = self.val):id %><a href="/photo$img:id"><img src="<% img.small %>"></a>
<% else %><img src="<% img.small %>">
<% end %>
<% end %>

<% sub show %>
<div id="$me.id">$me.preview</div>
<% end %>

<% sub input %>
<div id="$me.id">
	$me.preview
	<input type="file" name="$self.meta:param_upload" accept="image/*;capture=camera"<% self.attrs %>>
</div>
<% end %>

<% END %>



<% CLASS ImagesInput INHERITS FileInput %>

<% sub preview %>
<img src="<% (self.val.exists // app.model.img(nothing)).small %>">
<% end %>

<% sub show %>
<div id="$me.id">$me.preview</div>
<% end %>

<% sub input %>
<div id="$me.id">
	$self.preview
	<input type="file" name="$self.param" accept="image/*;capture=camera" multiple>
</div>
<% end %>

<% END %>



<% CLASS HtmlInput INHERITS LineInput 
app.css.the(".nicEdit-panel *").set(clear=>"none", lineHeight => "16px")

def mount
	if me:allow
		new nicEditor({
			iconsPath => "/js/nicEdit/nicEditorIcons.gif",
			fullPanel => true
		}).panelInstance(self.id)
	end
end

%>

<% sub show %>
<div id="$self.id"<% self.attrs %>><% raw self.val %></div>
<% end %>

<% sub input %>
<% call app.coro.me.part:HEAD.require_js("/js/nicEdit/nicEdit.js") %>
<textarea id="$self.id" name="$self.param"<% self.attrs(style => "height: 13em") %>>$self.val</textarea>
<% end %>

<% END %>
