<% CLASS RubinPages INHERITS RubinForm

	sub CLASS_INIT
		rem создаём роутер для списка
		app.router.add self.uri, self
	end

	rem диспетчер: отображает листенер
	sub dispatch then join "", self.new.saverender
	
	rem выдаёт очередную страницу
	sub saverender
		if !ref self then self = self.new
		self:save = 2			rem брать параметры из q.param
		self.runInStart
		self.page_render
	end
	rem sub fields then	self.add("page")
	rem sub allow then 1
	sub new then super; me:save = 3; me
	
	sub fields then self.GET
	rem sub allow then
	rem sub success then 
	rem sub error
	rem 	if self.hasError(app.locale.PERMISSION_DENIED) then self.permission_denied
	rem end

	sub item row then row
	sub url_prev then self:page.url_prev_page
	sub url_next then self:page.url_next_page
	sub form_render then super.render
	sub page_param then "page"
	sub page_size then nothing
	sub runInStart
		self.runInit
		if !defined q.param(self.page_param) then self.runView
		self:answer = self.save
		self
	end
%>

<% sub actionHidden %><input type="hidden" name="$self.page_param" value=""><% end %>

<% sub render %>
	<% if keys(%self.meta:inputs)-keys(%self.meta:hiddens) > 1 %>
		<% self.form_render %>
	<% else %>
		<% call self.runInStart %>
	<% end %>
	<% self.page_render %>
<% end %>

<% sub page_render %>
	<% if !self.hasAllow %><% self.permission_denied(self:param) %>
	<% else %><% page = delete self:answer %>
		<% if !self.isErrors %><% call
				if !exists page:page then page = page.qpage self.page_param, self.page_size
				self:page = page
				rows = page.rows
			%>
			<% if @rows %>
				<% if page.is_prev_page %>$self.previous<% end %>
				<% for row in rows %><% self.item(row, self:param) %><% end %>
				<% if page.is_next_page %>$self.nextious<% end %>
			<% else %><% self.not_found(self:param) %>
			<% end %>
		<% else %>$self.error_render
		<% end %>
	<% end %>
<% end %>


<% sub prev %>
Предыдущая страница
<% end %>

<% sub next %>
Следующая страница
<% end %>

<% sub previous %>
<div class="header">
	<a href="<% self.url_prev %>" message="<% self:Name . ".topage,"  %>">$self.prev</a>
</div>
<% end %>

<% sub nextious %>
<div class="header">
	<a href="<% self.url_next %>">$self.next</a>
</div>
<% end %>

<% sub not_found %>
Тут ничего нет
<% end %>

<% sub permission_denied %>
У Вас не хватает прав на просмотр этого списка
<% end %>

<% sub error_render %>
	<h3>Ошибка в параметрах</h3>
	<% form = self %>
	<% if @form:info %>
		<h4>Сообщения</h4>
		<ol class="info"><% for info in form:info  %>
			<li><% info %>
		<% end %></ol>
	<% end %>

	<% if @form:errors %>
		<h4>Ошибки</h4>
		<ol class="error"><% for err in form:errors  %>
			<li><% err %>
		<% end %></ol>
	<% end %>

	<% if %form:error %>
		<h4>Параметризированные ошибки</h4>
		<ol class="error"><% for name, err of form:error  %>
			<li><b>$name</b>: $err
		<% end %></ol>
	<% end %>
<% end %>

<% END %>





<% CLASS OpalPages INHERITS RubinPages
rem горизонтальные страницы
%>

<% sub page_render %>
<div><% super.page_render %></div>
<% end %>

<% sub previous %>
<div class="header">
	<a href="<% self.url_prev %>"><img src=""></a>
</div>
<% end %>

<% sub nextious %>
<div class="header">
	<a href="<% self.url_next %>"><img src=""></a>
</div>
<% end %>

<% END %>



